@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background: rgb(163, 66, 147);
    background: linear-gradient(90deg, rgba(163, 66, 147, 1) 0%, rgba(111, 9, 121, 1) 32%, rgba(60, 72, 182, 1) 63%, rgba(0, 212, 255, 1) 100%);
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.logo {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 1000;
    cursor: default;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
}

.nav-bar a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin-left: 35px;
    font-family: 'Lato', sans-serif;
}

.nav-bar a:hover,
.nav-bar a.current {
    text-decoration: underline;
}

.inicio {
    position: relative;
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    padding: 70px 10% 0;
    margin-top: 30px;
}

.inicio-cont {
    max-width: 600px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 30px 50px 30px 50px;
}

.inicio-cont h3 {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    color: white;
    margin-bottom: 10px;
}

.inicio-cont h3 span {
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
    color: white;
}

.inicio-cont h1 {
    font-size: 56px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
}

.inicio-cont p {
    /* margin-bottom: 30px; */
    text-align: justify;
}

.socials a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: 2px solid #4f1143;
    font-size: 20px;
    color: #4f1143;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
}

.socials a:hover {
    color: white;
    background-color: #4f1143;
}